<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Checker</title>
    <script src="{% static "script.js" %}" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" defer></script>
    <style>
      .hide{
        display: none;
      }
      .red{
        color: red;
      }
      .green{
        color: green;
      }
    </style>
</head>
<body>
    <input type="text" id="myInput" placeholder="Type something...">
    <div id="result"></div>
    <button id="add_btn" type="submit" class="hide">Add</button>
    {% csrf_token %}
</body>
</html>