{% extends "todo/base/base.html" %}

{% load static %}

{% block title %}ToDo List{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'todo/style.css' %}">
{% endblock css %}

{% block content %}

<div class="content-box">
    {% for message in messages %}
    <p style="text-align: center;">{{ message }}</p>
    {% endfor %}
    <div class="user-info">
        <h2>Hello, {{ request.user }}!</h2>
        <a href="{% url "logout" %}" class="profile-settings">Logout</a>
    </div>
    <a href="{% url "add" %}" class="add">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>Add Task
        </div>
        
    </a>
    <div class="tasks">
        {% if tasks %}
        {% for task in tasks %}
        <div class="task">
            <div {% if task.complete %}class="check-true" {% else %}class="check-false"{% endif %} ></div>
            <a class="title" href="{% url "edit" task.id %}"><p {% if task.complete %}class="strike"{% endif %}>{{ task.title }}</p></a>
            <a href="{% url "delete" task.id %}" class="delete">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                </svg>
            </a>
        </div>
        {% endfor %}
        {% else %}
        <h3 style="text-align:center;">No Tasks Available</h3>
        {% endif %}
    </div>
    {% comment %} <a href="{% url "feedback" %}" class="feedback">Give Your Valuable FeedBack Here!</a> {% endcomment %}
</div>
{% endblock content %}